body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Header styles */
header {
    background: #C9A0CD;
    color: white;
    padding: 20px;
    text-align: center;
}

p {
    text-indent: 4em;
}

/* h1 in header remains unchanged (or you can set it explicitly) */
header h1 {
    color: white;
}

/* h2 within header gets a different color (adjust as needed) */
h2 {
    color: #C9A0CD; /* Change this to your preferred color */
}

/* General main content styling */
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

/* Styling for the blog posts container */
#posts {
    margin-top: 20px;
}

.blog-post {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Navbar */
nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0 0 15px; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Display items in a row */
    justify-content: flex-start; /* Align items to the left */
}

nav ul li {
    margin-right: 20px; /* Add space between the items */
}

.button-74 {
  background-color: #C9A0CD;
  border: 2px solid #f5f5f5;
  border-radius: 30px;
  box-shadow: #f5f5f5 4px 4px 0 0;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #bb88c0;
}

.button-74:active {
  box-shadow: #f5f5f5 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
